@font-face {
    font-family: 'Roboto';
    src: url(../../Fuentes/Roboto/Roboto-Regular.ttf);
}

* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #176585;
    color: #000000;
    min-height: 100vh;
    overflow-y: hidden;
}

header {
    background-color: #27b1bf;
    text-align: center;
    height: 10vh;
    margin: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2em;
    color: #000000;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #36cecc;
    border: #558 1px solid;
    border-radius: 3px;
    width: 50vw;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

nav ul li {
    width: 100%;
    display: inline;
    text-align: center;
    margin: .2em 0;
}

a {
    text-decoration: none;
    color: #000000;
}

main {
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
}

section {
    margin: 2em 4em;
    padding: 1.5em;
    height: 25vh;
    width: 70vw;
    background-color: #27b1bf;
    border: 2px #333 solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    border-radius: .5em;
}

section h2 {
    font-size: 1.5em;
    color: #333;
}

section p {
    font-size: 1em;
    color: #000;
}

footer {
    background-color: #c2e4cb;
    display: flex;
    border-top: 1px #333 solid;
    justify-content: end;
    align-items: center;
    width: 100vw;
    height: 5vh;
    position: absolute;
    bottom: 0;
    font-weight: bold;
}

footer p {
    margin: 0 1em;
}